<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <pattern>%d [%t] %-5p %c %x - %m%n</pattern>
    </encoder>
  </appender>
  <root level="WARN">
    <appender-ref ref="Console"/>
  </root>
</configuration>